@import './global/index';
@import './components/index';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  line-height: var(--n-lh-regular);
  font-weight: var(--n-fw-regular);
  color: var(--n-base);
  font-family: 'Montserrat';
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--n-second-0);
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

a {
  color: var(--n-brand);
}

table {
  width: 100%;
  $border: 1px solid var(--n-second-0);
  border-collapse: collapse;
  tr {
    td,
    th {
      vertical-align: top;
      padding: 8px 16px;
      height: 40px;
      line-height: 1;
      border: $border;
      vertical-align: middle;
    }
    th {
      background-color: var(--n-second-0);
      font-weight: var(--n-fw-medium);
      text-align: start;
    }
  }
}
