@import './global/index';
@import './components/index';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  line-height: var(--n-lh-regular);
  font-weight: var(--n-fw-regular);
  color: var(--n-base);
  font-family: 'Montserrat';
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--n-second-0);
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

a {
  color: var(--n-brand);
}
